/*
 Basic styles for yoga clothes company holding page
 Date : March 2014
 Author: Arup Sen
 Author url: http://arupdesigns.co.uk
 */
#wrap {
  width: 480px;
  margin: 0 auto;
  color: red;
  font-size: 12px;
  line-height: 1.5em;
  font-family: Georgia, serif;
}
/* grouped selectors */
#wrap > section.top > p:nth-child(3), #wrap > section.middle > img:nth-child(2), #wrap > section.cardi > img:nth-child(2), #wrap > section.cardi > p,#wrap > section.cardi > form, #wrap > section.middle > form, #wrap > section.middle > p, #wrap > section.bottom {
  position: relative;
}
#wrap > section.top > p:nth-child(2) {
  width: 360px;
  margin: -166px 0 60px 130px;
}
#wrap > img:nth-child(1) {
  margin: 0 0 10px 0;
}
#wrap > section.top > p:nth-child(3) {
  left: 130px;
  top: -50px;
}
#wrap > section.middle > img:nth-child(2) {
  height: 114px;
  top: -1px;
  left: 20px;
}
#wrap > section.cardi > img:nth-child(2) {
  left: 20px;
}
#wrap > section.cardi > p {
  left: 345px;
  top: -214px;
}
#wrap > section.middle > p {
  width: 120px;
  left: 345px;
  top: -134px;
}
span.small {
  font-size: 10px;
  white-space: nowrap;
}
#wrap > section.middle > form {
  width: 140px;
  top: -144px;
  left: 342px;
}
#wrap > section.cardi > form {
  left: 342px;
  top: -220px;
}
input[type="image"] {
  margin-left: 4px;
}
#wrap > section:nth-child(4) {
  margin: -120px 0 30px 0;
}
#wrap > section:nth-child(4) > p {
  width: 190px;
}
#wrap > section.bottom {
  top: -200px;
  width: 500px;
}
#wrap > section.bottom a {
  background: url(FB-f-Logo__blue_29.png) no-repeat;
padding-left: 34px;
padding-bottom: 15px;
padding-top: 14px;
color: red;
margin: -33px 0 0 199px;
display: block;
}
#wrap > section.returns {
  position: relative;
  top: -180px;
}
#wrap > section.returns p {
  display: none;
}
#wrap > section.returns > h3 {
  font-weight: normal;
  font-size: 13px;
}
